{% extends 'base.html.twig' %}

{% block title %}Qui suis-je?{% endblock %}

{% block body %}

<div class="divIndexDescription">
    <div class="mon-parcours ">
        <div class="qui-sui-je">
            <h2>Qui suis-je ?</h2>
        </div>
        </br>

        <div class="flex-parcours">
            <div class="margin-img">
                <img src="{{ "img/Mathilde.png" }}" alt="mains" class=" mathilde-img" >
            </div>
            <div >
                <h3> Mon parcours</h3>
                <p>Mathilde Montagnon - Ergothérapeute spécialisée dans l'accompagnement de l'enfant et de sa famille.</p>
                <p> Diplômée de l'IFE de Créteil en 2008, je suis ergothérapeute passionnée par l'accompagnement des enfants et de leur famille. Forte de plus de 15 ans d'expérience en pédiatrie, j'ai développé une expertise dans le domaine des troubles du neuro-développement. </p>
                <p>
                    Mon approche est centrée sur l'enfant dans sa globalité, en prenant en compte ses besoins spécifiques, ses habitudes de vie et son environnement. Je travaille en étroite collaboration avec les parents pour les soutenir et leur donner les outils nécessaires pour favoriser le développement de leur enfant.
                </p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="expertises-title-container about-me-title">
        <div class="expertises-bg expertises-bg-expertise"></div>
        <h2 class="expertises-title2">Mes domaines d'expertise</h2>
    </div>
</div>

<div>

    <div class="divIndexDescription">

        <div class="expertises-div">

            <div class="mx-22" >
                <img src="{{ "img/neuro.png" }}" alt="boule neuro" class=" expertises-img" style="height:244px;" >
                <div class="border border-color ">
                    <h4 class=" mt-2 text-center">Troubles du neuro-développement</h4>
                    <p class="expertises-txt p-2">
                    
                        J'accompagne les enfants présentant des :
                        <ul>
                            
                            <li> Trouble spécifique des apprentissages (dyslexie, dyorthographie,...) </li>
                            <li> Trouble développemental de la coordination TDC (dyspraxie), </li>
                            <li> Trouble du déficit de l'attention avec ou sans hyperactivité (TDA/H) </li>
                            <li> Trouble du spectre de l'autisme (TSA) </li>
                            <li> Déficience intellectuelle </li>
                        </ul>
                    </p>
                </div>
            </div>
            
            <div class=" mx-22">
                <img src="{{ "img/petite_enfance.png" }}" alt="enfant" class=" expertises-img" >
                <div class=" border border-color" style="height:342px">
                    <h4 class=" mt-2 text-center">Petite enfance</h4>
                    <p class="expertises-txt p-2">
                        Devenue maman, je me suis naturellement tournée vers la petite enfance et me suis formée dans ce domaine. J'accompagne les parents et les enfants sur les difficultés de :
                        <ul>
                            <li>Sommeil,</li>
                            <li>Alimentation,</li>
                            <li>Développement sensori-moteur</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="mx-22">
                <img src="{{ "img/amenagement.png" }}" alt="maison plan" class=" expertises-img" style="height:244px;" >
                <div class=" border border-color" style="height:342px">
                    <h4 class=" mt-2 text-center">Accessibilité et adaptation du logement</h4>
                    <p class="expertises-txt p-2">
                        J'interviens auprès de personnes en situation de handicap ou en perte de mobilité pour :
                        <ul>
                            <li>  Prévenir le risque de chute </li>
                            <li>  Améliorer l'autonomie et le confort à domicile. </li>
                            <li>  Préparer le retour à domicile suite à une sortie d'hospitalisation </li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>

<div>
    <div class="expertises-title-container about-me-title">
        <div class="expertises-bg expertises-bg-valeurs"></div>
        <h2 class="expertises-title2 "> Mes Valeurs</h2>
    </div>
</div>

<div class="divIndexDescription">
    <img src="{{ "img/mesValeursDef.png" }}" alt="mes valeurs" class=" mes-valeurs-img" >
</div>

<div class="divIndexDescription">
    <p>
        <span class="en-savoir-plus fw-bold" >Pour en savoir plus </span> </br>

        N'hésitez pas à me contacter pour toute question ou demande de rendez-vous. Je serai ravie de vous accompagner dans votre parcours parental et dans le développement de votre enfant.
    </p>
</div>

<div>
    <div class="expertises-title-container about-me-title">
        <div class="expertises-bg expertises-bg-formations"></div>

        <h2 class="expertises-title2"> Mes Formations</h2>
</div>

<div class="divIndexDescription">
    <div >
        <p> Voici un aperçu des formations que j’ai réalisées et des domaines dans lesquelles je suis à même de vous accompagner :</p>
        <ul> 
            <li> <strong>Développement ordinaire de l’enfant de 0 à 4 ans </strong> – Intervention en Ergothérapie, (Hestia Formation Marie RUFFIER BOURDET)</li>
            <li><strong>Difficultés alimentaires du bébé : l’accompagnement en Ergothérapie </strong>(Hestia Formation – Marie RUFFIER BOURDET)</li>
            <li><strong>Difficultés de passage aux morceaux chez les bébés et les enfants </strong>(Ergomums – Marie RUFFIER BOURDET)</li>
            <li><strong>Ergothérapie et intervention en crêche : intervention précoce en ergothérapie</strong>, (Hestia formation – Marie PICCARDI)</li>
            <li><strong>L’ergothérapeute et le sommeil des tout-petits : prise en charge précoce en petite enfance,</strong> (Hestia formation – Marie PICCARDI)</li>
            <li><strong>Nouveau dispositif Ma prime adapt’ : Optimisation de l’aménagement des logements par l’expertise ergothérapique</strong>, (Conseil Ergolib – Etienne EXCOFFON)</li>
            <li><strong>Guidance parentale et partenariat parental en ergothérapie : soutenir les co-occupations</strong>, (Calipetons formation, Clémentine Luzu)</li>
            <li><strong>L’écriture et l’ergothérapie</strong>, (Josiane Caron Santha)</li>
            <li><strong>TDC (dyspraxie): Intervention et Evaluation en Ergothérapie</strong>, (Conseil Ergolib – Romain Genêt)</li>
            <li><strong>Ergothérapie et TDA/H : Connaître, repérer et accompagner</strong>, (Conseil Ergolib – Margot RAFFIN)</li>
            <li><strong>Reconnaître et dépister les particularités reliées au TSA lors de l’évaluation initiale en Ergothérapie (Module 1)</strong>, (Hestia Formation – Carolyne MAINVILLE)</li>
            <li><strong>Considérer les particularités reliées au TSA pour mieux intervenir en Ergothérapie (Module 2)</strong>, (Hestia Formation – Carolyne MAINVILLE)</li>
            <li><strong>Mieux comprendre les TND (troubles du neurodeveloppement)</strong>, (Conseil Ergolib – Romain Genêt et Marie BOULET LAGARDE)</li>
        </ul>
    </div>
</div>


{% endblock %}






