{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}

<div >
    <div class="d-flex justify-content-center">
        <button class="btn-tarif mt-5 me-5"><h3>Consultez les tarifs</h3></button>
    </div> 

    <div class=" ms-3 mt-3 pt-3 pb-3 d-flex justify-content-center" style=" background-color:#F78888; width:50%">
        {# {{ form(form) }} #}

        <div>
        {{ form_start(form) }}
                <div class="mb-3" style="display:flex">
                    {{ form_row(form.Nom) }}
                    {{ form_row(form.Prenom) }}
                </div>
                {{ form_row(form.Telephone) }}
                {{ form_row(form.Email) }}
                {{ form_row(form.Message) }}
                <div class="d-flex justify-content-center">
                    {{ form_row(form.save, { 'label': 'Envoyer' }) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div>
        <div id="map" style="height: 400px;"></div>

            <script>
                const map = L.map('map').setView([44.6143, -1.0280], 13); // Paris

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; OpenStreetMap contributors'
                }).addTo(map);

                L.marker([44.6143, -1.0280]).addTo(map)
                    .bindPopup('Votre cabinet ici.')
                    .openPopup();
            </script>

        </div>
    </div>

</div>


{% endblock %}
